<h1 class='text-c'><%= @user.email %>'s situacion</h1>

<% if @user.posts.empty? %>
  <% if @user.id == current_user.id %>
    <p class='text-c'>you haven't posted any questions</p>
  <% else %>
    <p class='text-c'><%= @user.email %> hasn't posted any questions</p>
  <% end %>
<% else %>
  <% @user.posts.each do |p| %>
    <li class="post <%= p.id %> no-bullets">
        <span class="font-3-4"><%= p.created_at.strftime("%B %-d, %Y  %l:%M%P") %></span>
        <span class="titles <%= p.id %> pad-s-1"><a href="/posts/<%= p.id %>"><%= p.title %></a></span>
        <% if p.creator.id == current_user.id %>
          <a data-method="delete" class="delete <%= p.id %> font-3-4 right pad-s-1" href='/posts/<%= p.id %>' data-disabled="true">:delete:</a>
        <% end %>
      </li>
  <% end %>
<% end %>
<% %>
