
<h1 class='text-c'>Welcome to Flow!</h1>

<h1>Flow Questions</h1>
<main role="main">
  <ul class="posts">
    <% @posts.each do |post| %>
      <li class="post <%= post.id %>">
        <span class="titles <%= post.id %>"><a href="<%= "/" %>"><%= post.title %></a></span>
        <% if post.creator.id == current_user.id %>
          <a data-method="delete" class="delete <%= post.id %> font-3-4" href='/posts/<%= post.id %>' data-disabled="true">:delete:</a>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>

